@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Start Global Varibales  */
:root {
  --main-color: hsl(26, 100%, 55%);
  --transition-period: 0.3s;
  --secondary-color: hsl(219, 9%, 45%);
  --section-background: #f6f6f6;
}

/* End Global Varibales  */

/* Start Global Rules */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(0, 0%, 100%);
  -webkit-zoom: 80%;
  -moz-zoom: 80%;
  zoom: 80%;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */
/* Start Header  */

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsl(223, 64%, 92%);
}
nav {
  position: relative;
  display: flex;
  flex: 1;
}
nav a {
  display: block;
  padding: 40px 0px;
  color: hsl(219, 9%, 45%);
  margin-right: 25px;
  font-size: 15px;
  letter-spacing: 1px;
  transition: var(--transition-period);
  border-bottom: 5px solid transparent;
  z-index: 2;
}
nav a:hover {
  color: hsl(219, 9%, 25%);
  font-weight: 600;
  border-bottom: 5px solid var(--main-color);
}
header .cart {
  width: 50px;
  cursor: pointer;
}
header .cart,
header .logo,
header span {
  display: block;
}
.logo {
  width: 230px;
}
header span {
  max-width: 50px;
  max-height: 50px;
  transition: var(--transition-period);
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: content-box;
  cursor: pointer;
}
header span:hover {
  border: 2px solid var(--main-color);
}
header span img {
  max-width: 100%;
  max-height: 100%;
}
.bars,
.exit {
  display: none;
  cursor: pointer;
}
.exit:hover path {
  fill: var(--main-color);
}
/*------------ Responsive -----------*/
@media (max-width: 767px) {
  header .container::after {
    content: "";
    display: none;
  }
  header nav {
    display: none;
  }
  .bars {
    display: block;
  }
  .exit {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .logo {
    margin-left: 20px;
    flex: 1;
  }
  header nav a:first-of-type {
    margin-top: 65px;
  }
  header nav a {
    padding: 10px 20px;
    margin: 0;
    font-weight: 800;
    color: black;
  }
}
/* ---------------End Header------------------- */

/*----------------- Start Product Details -------------*/
.product-details .container {
  padding: 70px 70px 30px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/*----------------- End Product Details -------------*/
/*----------------- Start Product Preview -------------*/
.product-preview {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}
.product-preview img {
  cursor: pointer;
}

.product-preview .current-image {
  margin-bottom: 15px;
  flex-grow: 1;
}
.product-preview .current-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 13px;
}
.product-preview .all-images {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.product-preview .all-images div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(90% / 4);
  height: 90px;
  border-radius: 13px;
}
.product-preview .all-images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.product-preview .all-images div.active {
  border: 3px solid var(--main-color);
}
.product-preview .all-images div.active img {
  opacity: 0.5;
}
.product-preview .all-images img:hover {
  opacity: 0.5;
}
/*-------------Responsive----------------*/

/*----------------- End Product Preview -------------*/
/*----------------- Start Product Description-------------*/
.product-description {
  margin-top: 60px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-description .company-name {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: small;
  letter-spacing: 1px;
  font-weight: 700;
}
.product-description .product-name {
  margin-top: 20px;
  font-size: 40px;
}
.product-description .description {
  margin-top: 30px;
  color: var(--secondary-color);
  line-height: 1.6;
}
.product-description .price {
  margin-top: 20px;
  position: relative;
}
.product-description .price :not(span:last-child) {
  display: inline-block;
}
.product-description .price .actual {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  letter-spacing: 1.5px;
}
.product-description .price .discount {
  color: var(--main-color);
  background-color: hsl(25, 100%, 94%);
  padding: 1px 6px;
  font-weight: bold;
  transform: translateY(-4px);
}
.product-description .price .old {
  display: block;
  margin-top: 10px;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: bold;
}
/*-------------Responsive----------------*/

/*----------------- End Product Description-------------*/
/*----------------- Start Lighthouse -------------*/
.dark-bk {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 900;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 70%);
}
.lightHouse {
  z-index: 1000;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightHouse .exit-lightHouse {
  position: absolute;
  top: -30px;
  right: 0;
}
.lightHouse .exit-lightHouse path {
  fill: white;
  cursor: pointer;
}

/*----------------- End Lighthouse -------------*/
